// $darkBlue: #479BB8;
$black: #2a2a2a;
$darkBlue: #4a56bb;
$darkest: #1b4561;
$lightBlue: #bce4f7;
$pastelBlue:#bacae6;
$gold: #F8D392;
$red: #f13b39;
$peach: #f47154;
$playfair: 'Playfair Display', serif;
$open:  'Open Sans', sans-serif;

*{
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

body{
    background: $darkBlue;
    font-family: $playfair;
    color: $black;
    font-size: 1.25em;
}

[class*="col-"] {
    margin-bottom: 20px;
    min-height: 30px;
    text-align: center;
    padding: 10px;
  }

  .wrapper {
    padding: 0 20px;
     padding-top: 20px;
     border-radius: 5px;
     margin-bottom: 30px;
  }
  .row {
      display: flex;
      flex-wrap: wrap;
    }
    [class*="col-"] {
        margin-right: 20px;
    }
  
    [class*="col-"]:last-child {
        margin-right: 0;}

  
    .col-1 {flex: 1;}
    .col-2 {flex: 2;}
    .col-3 {flex: 3;}
    .col-4 {flex: 4;}
    .col-5 {flex: 5;}
    .col-6 {flex: 6;}
    .col-7 {flex: 7;}
    .col-8 {flex: 8;}
    .col-9 {flex: 9;}
    .col-10 {flex: 10;}
    .col-11 {flex: 11;}
    .col-12 {flex: 12;}

    .noPaddingTop{
        padding-top: 0;
    }

    .noMargBtm{
        margin-bottom: 0;
    }

    .marginTop{
        margin-top: 150px;
    }

.outline{
    background: white;
    margin: 15px;
    padding: 10px 90px 10px 90px;
}

.email{
    transform: rotate(-90deg);
    position: fixed;
    font-family: $open;
    left: -100px;
    top: 50%;
}

.mail{
    font-size: 20px;
    padding-left: 20px;
}

.buffer{
    margin: 50px;
}

nav{
    font-family:  'Open Sans', sans-serif;
}

nav>ul{
    float: right;
}

nav>ul>li{
   list-style: none;
   float: left;
   padding: 20px;
}

a{
    text-decoration: none;
    color: $black;
}

.selfie{
    max-height: 150px;
    max-width: 150px;
    float: left;
    position: absolute;
    left: 40px;
    top: 40px;
}

.name{
    margin: 10px;
    font-family:  'Open Sans', sans-serif;
}

.description{
    font-size: 2.25em;
    line-height: 1.5;
}

.bold{
    color: $darkBlue;
    font-size: 2em;
    font-weight: 700;
}

.live{
    font-family: $open;
    font-size: 20px;
}

  .hidden-col {visibility: hidden;}
  
  .text-left {text-align: left;}
  .text-right {text-align: right;}

  .progress {
    // transform: rotate(90deg);
	position: fixed;
    width: 100%;
     height: auto;
    // height: 100%;
    // width: auto;
	top: 15px;
  left: 0;
  right: 0;
	z-index: 100;
  background: none;
  border: 0;
  margin: 0;
  padding: 0;

	progress {
		position: relative;
		display: block;
		height: 15px;
        width: 100%;
        // height: 100%;
        // width: 15px;
        border: 0;
		background-color: transparent;
	}

	progress::-moz-progress-bar { 
        background-color: rgba(
            $pastelBlue, 1); 
        }
	progress::-webkit-progress-bar { 
        background-color: transparent; 
    }
	progress::-webkit-progress-value { 
        background-color: rgba($pastelBlue, 1); 
    }

}

.CTA{
    background: $red;
    font-family: $open;
    color: white;
    font-size: 1.25em;
    align-items: center;
    width: 350px;
    height: 70px;
    float: left;
    z-index: 2;
    position: relative;
}

.CTA>p{
    padding-top: 20px;
    padding-bottom: 20px;    
    padding-left: 70px;
    padding-right: 70px;
}

.social{
    padding-left: 5%;
    max-width: 60px;
    max-height: 60px; 
    transition: 0.3s;
}
  .social:hover {
    transform: translate(0, -20px);
  }

.socials{
    float: left;    
   
}

li{
    list-style: none;
    float: left;
    padding-left: 20px;
}

.title{
    color: $darkBlue;
    font-size: 2em;
}

h3{
    font-size: 1.5em;
    padding: 20px 0px 20px 0px;
    color: $darkBlue;
}

.view{
    padding-top: 30px;
    color: $black;
}

.fa-arrow-right{
    padding-left: 20px;
}

.bottom{
    max-width: 80%;
    min-width: 80%;
}

.tiktak{
    position: absolute;
    right: 100px;
}

.video{
    transition: 0.5s ease-in-out;
}

.video:hover{
    text-decoration: underline;
}


@media (max-width: 1350px) {
    .description{
        font-size: 1.75em;
    }
}


@media (max-width: 900px) {
    .social{
        max-width:44px;
        max-height: 44px;
    }
}

