// $darkBlue: #479BB8;
$black: #2a2a2a;
$darkBlue: #4a56bb;
$darkest: #1b4561;
$lightBlue: #bce4f7;
$pastelBlue:#bacae6;
$gold: #F8D392;
$red: #f13b39;
$peach: #f47154;
$playfair: 'Playfair Display', serif;
$open:  'Open Sans', sans-serif;
$varela: 'Varela Round', sans-serif;

*{
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

body{
    background: white;
    border-left: $darkBlue 20px solid;
    border-right: $darkBlue 20px solid;
    border-top: $darkBlue 20px solid;
    border-bottom: $darkBlue 20px solid;
    font-family: $playfair;
    color: $black;
    font-size: 1.25em;
    margin:0;
}

a{
    cursor: pointer;
}

.confine{
    margin: 10%;
}

[class*="col-"] {
    margin-bottom: 20px;
    min-height: 30px;
    text-align: center;
    padding: 10px;
  }

  .wrapper {
    padding: 0 20px;
     padding-top: 20px;
     border-radius: 5px;
     margin-bottom: 30px;
  }
  .row {
      display: flex;
      flex-wrap: wrap;
    }
    [class*="col-"] {
        margin-right: 20px;
    }
  
    [class*="col-"]:last-child {
        margin-right: 0;}

  
    .col-1 {flex: 1;}
    .col-2 {flex: 2;}
    .col-3 {flex: 3;}
    .col-4 {flex: 4;}
    .col-5 {flex: 5;}
    .col-6 {flex: 6;}
    .col-7 {flex: 7;}
    .col-8 {flex: 8;}
    .col-9 {flex: 9;}
    .col-10 {flex: 10;}
    .col-11 {flex: 11;}
    .col-12 {flex: 12;}

    .noPaddingTop{
        padding-top: 0;
    }

    .noMargBtm{
        margin-bottom: 0;
    }

    .marginTop{
        margin-top: 150px;
    }

.outline{
    background: white;
    margin: 15px;
    padding: 10px 90px 10px 90px;
    // z-index: -4;
    position: relative;
}

.toHighLight{
    cursor: pointer;
}

.abstractThree{
    z-index: -1;
    position: relative;
}

.abstractFour{
    z-index: -1;
    position: relative;
}

.email{
    transform: rotate(-90deg);
    position: fixed;
    font-family: $open;
    left: -100px;
    top: 50%;
}

.mail{
    font-size: 20px;
    padding-left: 20px;
}

.buffer{
    margin: 50px;
}

nav{
    font-family:  'Open Sans', sans-serif;
    // transform: rotate(-90deg);
    position: fixed;
    right: 5%;
    top: 3%;
    // top: 55%;
    // left:-175px;
    // background: white;
    // border-radius: 20px 20px 0px 0px;
}


nav>ul{
    float: right;
}

nav>ul>li>a{
   list-style: none;
   float: left;
//    padding-right: 10px;
   transition: 0.5s;
   z-index: 1;
   cursor: pointer;

}

.tab{
    // background: white;
    border-radius: 20px 20px 0px 0px;
    padding: 10px 40px 10px 40px;
    z-index: -1;
}



a{
    text-decoration: none;
    color: $black;
    // background: rgba(0,0,0,0.05);
    z-index: 1; 
    cursor: pointer;
}


span.highlight{
    transition: all 1s;
    // border-bottom: 2px solid white;
    border-radius: 50px;
    position: absolute;
    color: white;
    opacity: 1;
    top:0;
    background: $red;
    left:0;
    z-index: -1;
    display: block;
    padding-left:10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.selfie{
    max-height: 150px;
    max-width: 150px;
    float: left;
    position: absolute;
    left: 40px;
    top: 40px;
}

.name{
    margin: 10px;
    padding-left: 50px;
    font-family:  'Open Sans', sans-serif;
    float: left;
}

.description{
    font-size: 2.25em;
    line-height: 1.5;
}

.bold{
    color: $darkBlue;
    font-size: 2em;
    font-weight: 700;
}

.live{
    font-family: $open;
    font-size: 20px;
    margin-top: -50px;
}
  
  .text-left {
      text-align: left;
    }
    
  .text-right {
      text-align: right;
    }

  .progress {
    // transform: rotate(90deg);
	position: fixed;
    width: 100%;
     height: auto;
    // height: 100%;
    // width: auto;
	top: 15px;
  left: 0;
  right: 0;
	z-index: 100;
  background: none;
  border: 0;
  margin: 0;
  padding: 0;

	progress {
		position: relative;
		display: block;
		height: 15px;
        width: 100%;
        // height: 100%;
        // width: 15px;
        border: 0;
		background-color: transparent;
	}

	progress::-moz-progress-bar { 
        background-color: rgba(
            $pastelBlue, .5); 
        }
	progress::-webkit-progress-bar { 
        background-color: transparent; 
    }
	progress::-webkit-progress-value { 
        background-color: rgba($pastelBlue, .5); 
    }

}

.CTA{
    background: $red;
    font-family: $open;
    color: white;
    font-size: 1.25em;
    align-items: center;
    width: 350px;
    height: 70px;
    float: left;
    z-index: 2;
    position: relative;
    border-radius: 100px;
}

.CTA>p{
    padding-top: 20px;
    padding-bottom: 20px;    
    padding-left: 70px;
    padding-right: 70px;
}

.social{
    padding-left: 5%;
    max-width: 60px;
    max-height: 60px; 
    transition: 0.3s;
}
  .social:hover {
    transform: translate(0, -20px);
  }

.socials{
    float: left;   
    // z-index: 1; 
}

.tools{
    // margin-bottom: 150px;
    justify-content: space-between;
}

li{
    list-style: none;
    float: left;
    padding-left: 20px;
}

.title{
    color: $darkBlue;
    font-size: 2em;
    // font-family: $open;
}

h3{
    font-size: 1.5em;
    padding: 20px 0px 20px 0px;
    color: $darkBlue;
}

a>p>.view{
    z-index: 2;
}

a>.view{
    margin-top: 30px;
    // color: $black;
    color: white;
    font-family: $open;
    background: $red;
    padding: 5px;
    border-radius: 100px;
    z-index: 1;
    text-align: right;
}

.fa-arrow-right{
    padding-left: 20px;
    padding-right: 20px;
}

.bottom{
    max-width: 80%;
    min-width: 80%;
}

.viewDrib{
    margin-top: 100px;
}

.linked{
    max-width: 50px;
    min-width: 50px;
}

main{
    margin-top: 150px;
}

#work{
    margin-bottom: 50px;
}

.workTitle{
    color: $darkBlue;
    font-size: 1.25em;
    font-family: $open;
}

.abstractOne{
    position: absolute;
    top: 50px;
    right: 50%;
    z-index: -1;
}
.abstractSix{
    position: absolute;
    top: 0;
    right: 5%;
    z-index: -1;
    opacity: .75;
}

.dribLogo{
    min-width: 30%;
    max-width: 30%;
}

a.video{
    transition: 0.5s ease-in-out;
    // z-index: 1;
}

.video:hover{
    text-decoration: underline;
}

.up{
    position: fixed;
    right: 40px;
    bottom: 20px;
    font-size: 60px;
    display: none;
}

.fa-umbrella-beach{
    color: $black;
}

.everyday{
    margin-top: 50px;
}

.imgGrid{
    max-width: 400px;
    min-width: 400px;
}


.imgGridWide{
    max-width: 800px;
    min-width: 800px;
}


.mobileMenu{
    display: none;
    position: fixed;
    bottom: 0;
    left: 10px;
    right: 10px;
    background: $darkBlue;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    height: 10vh;
    text-align: center;
}

.icons{
    margin-right: 12px;
    height: 40px;
}

.bottomMenu{
    padding: 25px;
    margin-bottom: 15px;
    // max-width: 35px;
    // min-width: 35px;
}

.inProg{
    opacity: .5;
}

.toolPart{
    max-width: 44px;
    min-width: 44px;
}

@media(max-width: 1850px) {
    .name{
        padding-left: 150px;
    }
}

@media(max-width: 1550px) {
    .name{
        display: none;
    }
    .imgGrid{
        max-width: 300px;
        min-width: 300px;
    }

.imgGridWide{
    max-width: 600px;
    min-width: 600px;
}

}

@media (max-width: 1350px) {
    .description{
        font-size: 1.75em;
    }
}

@media (max-width: 1024px) {
    .social{
        max-width:46px;
        max-height: 46px;
    }

    .toolPart{
        max-width: 44px;
        min-width: 44px;
    }

    .imgGridWide{
        max-width: 400px;
        min-width: 400px;
    }
}


@media (max-width: 1003px) {
    .social{
        max-width:44px;
        max-height: 44px;
    }
    .description{
        font-size: 1.5em;
    }
}

@media(max-width: 800px){

.imgGridWide{
    max-width: 400px;
    min-width: 400px;
}
}


@media (max-width: 768px) {
    .social{
        max-width:46px;
        min-width: 46px;
    }

    .toolPart{
        max-width: 44px;
        min-width: 44px;
    }

    .imgGridWide{
        max-width: 450px;
        min-width: 450px;
    }
}

@media (max-width: 768px) {
    .menu{
        display: none;
    }
}

@media(max-width: 550px) {
    .imgGrid{
        max-width: 300px;
        min-width: 300px;
    }

    .imgGridWide{
        max-width: 350px;
        min-width: 350px;
    }

.bottom{
    max-width: 100%;
    min-width: 100%;

}

    .email{
        display: none;
    }

    .CTA{
        width: 250px;
        height: 50px;
        font-size: 20px;
        margin-top: -50px;
    }

    .CTA>p{
        padding-top: 10px;
    }


.confine{
    margin:5px;
}

.description{
    font-size: 20px;
}

.live{
    font-size: 15px;
    margin-top: -50px;
}

.container{
    margin-left: 20px;
}

.abstractSix{
    opacity: .25;
}

.selfie{
    max-height: 45px;
    max-width: 45px;
}

.copyright{
    font-size: 15px;
}

}


@media (max-width: 414px) {
    nav{
        display: none;
    }

    .selfie{
        max-height: 50px;
        max-width: 50px;
    }
.social{
    max-width: 35px;
    min-width: 35px;
        padding-left: 0;
    }

    .toolPart{
        max-width: 35px;
        min-width: 35px;
    }

    .imgGridWide{
        max-width: 320px;
        min-width: 320px;
    }

    .confine{
        margin:10px;
    }

    // .mobileMenu{
    //     display: block;
    // }
    .CTA{
        width: 250px;
        height: 50px;
        font-size: 20px;
        margin-top: -100px;
    }

    .CTA>p{
        padding-top: 10px;
    }


.up{
    position: fixed;
    right: 20px;
    bottom: 80px;
    font-size: 60px;
}

.socials{
    margin-top: -30px;
}

}

@media (max-width: 375px) {
    li{
        padding-left: 10px;
    }


.CTA{
    background: $red;
    font-family: $open;
    color: white;
    font-size: 1em;
    align-items: center;
    width: 250px;
    height: 50px;
    float: left;
    z-index: 2;
    position: relative;
    border-radius: 100px;
    margin-left: -20px;
}

.col-1, .col-2{
    margin-right: 0px;
    margin-bottom: 0px;
}

.bodyText{
    font-size: 16px;
}

h2{
    font-size:30px;
}

h3{
    font-size: 20px;
}

}
