$blue: #191f38;

*{
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

.container {
    display: grid;
    width: 100%;
    height: 200vh;
    grid-template-columns: 200px 1fr 1fr;
    grid-template-rows: 80px 1fr 1fr 100px;
    grid-gap: 1rem;
    grid-template-areas:
    "content-back content-back content-back"
    "content-spacer content-spacer content-spacer"
    "header header sidebar"
    "content-1 content-1 sidebar"
    "content-2 content-2 sidebar"
    "content-3 section section"
    "content-4 section section"
    "content-5 section section"
    "content-6 section section"
    "content-7 section section"
    "content-8 section section"
    "content-9 content-9 content-9"
    "content-10 content-10 content-10"
    "content-11 content-11 content-11"
    "content-12 content-12 content-12"
    "content-13 content-13 content-13"
    "content-14 content-14 content-14"
    "content-15 content-15 content-15"
    "content-16 content-16 content-16"
    "content-17 content-17 content-17"
    "content-18 content-18 content-18"
    "content-19 content-19 content-19"
    "content-20 content-20 content-20"
    "content-21 content-21 content-21"
    "content-22 content-22 content-22"
    "content-23 content-23 content-23"
    "content-24 content-24 content-24"
    "content-25 content-25 content-25"
    "content-26 content-26 content-26"
    "content-27 content-27 content-27"
    "content-28 content-28 content-28"
    "content-29 content-29 content-29"
    "content-30 content-30 content-30"
    "content-31 content-31 content-31"
    "content-32 content-32 content-32"
    "content-33 content-33 content-33"
    "content-34 content-34 content-34"
    "content-35 content-35 content-35"
    "content-36 content-36 content-36"
    "content-37 content-37 content-37"
    "content-38 content-38 content-38"
    "content-39 content-39 content-39"
    "footer footer footer";
  }
  
  .header {
    grid-area: header;
    
  }
  
  .sidebar {
    grid-area: sidebar;
  }

  .section{
    grid-area: section;
  }

  .sideQuestion {
    grid-area: sideQuestion;
  }
  
  .content-1 {
    grid-area: content-1;
  }

  .content-2 {
    grid-area: content-2;
  }

  .content-3 {
    grid-area: content-3;
  }

  .content-4 {
    grid-area: content-4;
  }

  .content-5 {
    grid-area: content-5;
  }

  .content-6 {
    grid-area: content-6;
  }

  .content-7 {
    grid-area: content-7;
  }

  .content-8 {
    grid-area: content-8;
  }

  .content-9 {
    grid-area: content-9;
  }

  .content-10 {
    grid-area: content-10;
  }

  .content-11 {
    grid-area: content-11;
  }

  .content-12 {
    grid-area: content-12;
  }

  .content-13 {
    grid-area: content-13;
  }

  .content-14 {
    grid-area: content-14;
  }

  .content-15 {
    grid-area: content-15;
  }

  .content-16 {
    grid-area: content-16;
  }

  .content-17 {
    grid-area: content-17;
  }

  .content-18 {
    grid-area: content-18;
  }

  .content-19 {
    grid-area: content-19;
  }

  .content-20 {
    grid-area: content-20;
  }

  .content-21 {
    grid-area: content-21;
  }

  .content-22 {
    grid-area: content-22;
  }

  .content-23 {
    grid-area: content-23;
  }

  .content-24 {
    grid-area: content-24;
  }

  .content-25 {
    grid-area: content-25;
  }

  .content-26 {
    grid-area: content-26;
  }

  .content-27 {
    grid-area: content-27;
  }

  .content-28 {
    grid-area: content-28;
  }

  .content-29{
    grid-area: content-29;
  }

  .content-30 {
    grid-area: content-30;
  }

  .content-31 {
    grid-area: content-31;
  }

  .content-32 {
    grid-area: content-32;
  }

  .content-33 {
    grid-area: content-33;
  }

  .content-34 {
    grid-area: content-34;
  }

  .content-35 {
    grid-area: content-35;
  }

  .content-36 {
    grid-area: content-36;
  }

  .content-37 {
    grid-area: content-37;
  }

  .content-38 {
    grid-area: content-38;
  }

  .content-39 {
    grid-area: content-39;
  }

  .content-back {
    grid-area: content-back;
  }

  .content-spacer {
    grid-area: content-spacer;
    // height: 20vh;
  }

  .back{
    color: white;
    text-decoration: none;
    margin-left: 20px;
    // border: 1px white solid;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 100px;
    position: absolute;
    top: 80px;
  }

  a.item.back{
    font-size: 40px;
  }

  body {
    background-color: #edeef4;
    display: flex;
    justify-content: center;
    // padding: 20px;
    margin: 0;
  }

  .txt{
    padding-top: 300px;
  }

  .textSz{
    font-size: 25px;
  }
  
  .itemLeft {
    display: flex;
    justify-content: left;
    align-items: left;
    font-size: 1.5em;
  }

  .zoom {
    width: 60%;
    // float: left;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.zoom:hover {
    width: 70%;
       -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.zoomSm {
  width: 10%;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.zoomSm:hover {
  width: 40%;
     -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
cursor: pointer;
}

    
  .item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
  }

  .upper{
      color: white;
    background: rgb(49,55,89);
    background: linear-gradient(234deg, rgba(49,55,89,1) 35%, rgba(25,31,56,1) 100%);
    height: 90vh;
    width: 100%;
  }

  .iMacUpper{
    min-height: 750px;
    max-height: 750px;
    margin-top: 150px;
    position: absolute;
    right: 0;
  }

  .download{
      border: 1px solid white;
      border-radius: 100px;
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 10px;
      padding-bottom: 10px;
      margin: 20px;
      top: 10px;
      position: absolute;
      color: white;
      transition: all 0.5s ease-in-out;
  }

  .download:hover{
    background: white;
    color: $blue;
    transition: all 0.5s ease-in-out;
  }

  .center{
  //  margin-right: 20%;
  margin-bottom: 100px;
  }

.next:hover{
  color: white;
  background: $blue;
}

.iconHand{
  font-size: 40px;
}

.iconLeft{
  font-size: 40px;
  margin-right: 20px;
}

.iconRight{
  font-size: 40px;
  margin-left: 20px;
}

.next{
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 100px;
  margin-left: 40%;
  width: 300px;
  color: #edeef4;
  transition: 1s ease-in-out;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  color: $blue;
  border: 1px solid $blue;
  padding-top: 0px;
  padding-bottom: 10px;
  margin: 10px;
}

// .next:hover{
// background: #edeef4;
// color: #d52f79;
// transition: 1s ease-in-out;
// }

.previous{
// border: 1px solid #d52f79;
background: #edeef4;
border: 1px solid #191f38;
padding-bottom: 10px;
padding-left: 20px;
padding-top: 0;
padding-right: 20px;
border-radius: 100px;
margin-left: 50%;
width: 300px;
color: #191f38;
margin-bottom: 100px;
transition: 1s ease-in-out;
text-decoration: none;
text-align: center;
display: inline-block;
margin: 10px;
}

.previous:hover{
color: #edeef4;
background: #191f38;
transition: 1s ease-in-out;
}

.toTop{
  font-size: 40px;
  position: absolute;
  right: 20px;
  background: transparent;
  text-decoration: none;
}
  
  .titleBg{
    font-size: 100px;
    font-weight: 900;
    margin-top: 100px;
    margin-left: 50%;
}

.rotate{
    transform: rotate(90deg);
}

.titleSm{
    font-size: 50px;
    font-weight: 400; 
    margin-left: 50px;
    margin-top: 20px;
}

.descriptInner{
    margin-top: 250px;
}

.smText{
    font-size: 15px;
}

.smTop{
    margin-top: 5px;
}

.smTitle{
    font-weight: 900;
}

.blue{
    color: $blue;
}

.lgMarg{
    margin-top: 200px;
}

.section{
    margin-top: 400px;
    margin-right: 10%;
}

.wide{
    width: 80%;
    font-size: 80px;
    font-weight: 900;
    margin-left: 12%;
    text-align: center;
    margin-top: 200px;
}

.itemLeft {
    display: flex;
    justify-content: left;
    align-items: left;
    margin-left: 30px;
  }

  .circle{
    width: 15%; 
    text-align: center; 
    position: relative; 
    padding-bottom: 15%; 
    border-radius: 50%; 
    overflow: hidden; 
    margin-right: 20px;
}

.beige{
    background: #efd0c2;
}

.darkBeige{
    background: #dab4bc;
}

.lightP{
  background: #aca8c5;
}

.dark{
    background: #3b3b5b;
}


.final1{
  background: #191f38;
}

.final2{
  background: #313759;
}

.final3{
background: #ff9d00;
}

.final4{
  background: white;
  border: .5px solid $blue;
}

.box{
  width: 80%;
}

.smImg1{
  width: 30%;
  position: absolute;
  right: 0;
}

.smImg2{
  width: 35%;
  position: absolute;
  left: 0;
}

.sq{
  height: 80vh;
}

.med{
  width: 70%;
  overflow-x: hidden;
  // margin-right: 100px;
  position: absolute;
  right: 0;
}

.sm{
  // max-height: 300px;
  // min-height: 300px;
  width: 40%;
  position: absolute;
  z-index: -2;
  margin-top: 20%;
  margin-left: 5%;
    box-shadow: 10px 17px 75px -17px rgba(0,0,0,0.5);
}

.dashSm{
  width: 40%;
  position: absolute;
  z-index: -2;
  margin-top: 5%;
  margin-left: 5%;
  box-shadow: 10px 17px 75px -17px rgba(0,0,0,0.5);
}

.dashMed{
  width: 60%;
  position: absolute;
  z-index: -2;
  right: 50px;
  margin-top: 15%;
  box-shadow: 10px 17px 75px -17px rgba(0,0,0,0.5);
}

.editSm{
  width: 40%;
  position: absolute;
  z-index: -2;
  margin-top: 10%;
  margin-left: 15%;
  box-shadow: 10px 17px 75px -17px rgba(0,0,0,0.5);
}

.editMed{
  width: 50%;
  position: absolute;
  z-index: -2;
  right: 100px;
  margin-top: 5%;
  box-shadow: 10px 17px 75px -17px rgba(0,0,0,0.5);
}

.double{
  width: 80%;
  position: absolute;
}

.btmMarg{
  margin-bottom: 200px;
}


.prev{
  text-decoration: none;
  color: $blue;
  border: 1px solid $blue;
  border-radius: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;

}

.prev:hover{
  color: white;
  background: $blue;
}

.lg{
  font-size: 30px;
  width: 60%;
  text-align: center;
  margin-left: 20%;
}

.iconSm{
  display: none;
}

.backIcon{
  display: none;
  margin: 20px;
}

@media (max-width: 1000px){
  .sq{
    height: 60vh;
  }
  
}

@media (max-width: 900px){
  .sq{
    height: 50vh;
  }

  .next{
    display: none;
  }

  .previous{
    display: none;
  }

  .iconSm{
    margin: 10px;
    display: block;
  }
  
}

@media (max-width: 800px){

  .backIcon{
    display: block;
  }

  // .back{
  //   display: none;
  // }

  .download{
    display: none;
  }
}

@media only screen and (max-width: 720px){
  .descriptInner{
    margin-top: 400px;
  }

  .txt{
    padding-top: 100px;
  }
}

@media (max-width: 700px){
  .sq{
    height: 40vh;
  }

  .descriptInner{
    display: none;
  }

  .txt{
    padding-top: 400px;
  }
  
}

@media (max-width: 550px){
  .sq{
    height: 35vh;
  }
  
}

@media only screen and (max-width: 414px){
  .download{
    display: none;
  }

  .content-37{
    display: none;
  }

  .lg{
    text-align: center;
  }

  .sq{
    height: 30vh;
  }

  .back{
    display: none;
  }

  .iMacUpper{
    min-height: 400px;
    max-height: 400px;
    margin-top: 80px;
  }

  .titleBg{
    font-size: 40px;
    margin-top: 0;
    margin-left: 0;
  }

  .titleSm{
    font-size: 30px;
  }

  .txt{
    padding-top: 150px;
    width: 300px;
    margin-left: -170px;
  }

  .wide{
    margin-top: 50px;
    font-size: 40px;
  }

  .content-3, .content-4, .content-5, .content-6, .content-7, .content-8{
    display: none;
  }

  .smImg1{
    width: 50%;
  }

  .upper{
    height: 50vh;
  }

}