/*common code*/
*{
    font-family:'Playfair Display', serif;

}

.back{
    color: black;
    text-decoration: none;
    font-size: 30px;
}

.fa-arrow-left{
    color: black;
    text-decoration: none;
    font-size: 30px;
}

.opacity{
    opacity: .5;
}

.medium{
    min-height: 40px;
    max-height: 40px; 
    margin-top: 50px;
}

h2{
    font-size: 3.2em;
}

.body{
    font-size: 3em;
}
span.highlight{
    transition: all 1s;
    // border-bottom: 2px solid white;
    border-radius: 50px;
    position: absolutea;
    color: white;
    opacity: .75;
    top:0;
    background: #f13b39;
    left:0;
    z-index: -1;
    display: block;
    padding-left:10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

span{
    color: #f13b39;
}

/*Day One*/
#dayOne{
    font-family:'Playfair Display', serif;
    margin: 10%;


    #searchInput{
        height: 30px;
        font-size: 20px;
    }

    .fa-keyboard{
        font-size: 20px;
    }

    .fa-arrow-right{
        margin-right: 10px;
        margin-left: 10px;
    }

    .fa-arrow-left{
        margin-right: 10px;
    }


    .answer{
        font-size: 20px;
    }

}

#dayTwo{

    .wrapper{
        margin: 5%;
    }

    .explaination{
        font-family: 'Playfair Display', serif;
        display: block;
    }

    .timer{
        // flex: 4;
            display:flex;
            flex-direction:row;
            justify-content:space-around;
            text-align: center; 
            // float: left;
    /* font-family: 'Bungee', cursive; */
    font-family: 'Press Start 2P', cursive;
    font-size: 2.5em;
    justify-content: center;
}
}

#dayThree{
    #alarmSound{
        display: none;
    }

    .wrapper{
        margin: 5%;
    }

    .explaination{
        font-size: 20px;
    }

    input{
        height: 20px;
    }
}

#DayFour{
    .wrapper{
        margin: 5%;
        height: 200vh;
    }

    nav{
        position: fixed;
        top: 10px;
        right: 10px;
        border-radius: 50px;
    }

li {
list-style: none;
 padding: 10px 40px 10px 10px; 
/* text-align: center;  */
font-size: 1.5em; 
/* background: #b5c7d3; */
transition: 0.5s; 
text-align: center;
float: left;
// margin-right: 10px;

}

.btm{
    font-size: 1.5em; 
}
}

#dayFive{
    font-family:'Playfair Display', serif;
    .toHighLight{
        cursor: pointer;
    }
    li{
        list-style: none;
    }

    .wrapper{
        margin: 5%;
    }
    .shopping {
        display: grid;
        grid-template-columns: 1fr auto;
      }

      .fa-plus-square, .fa-check-square{
          font-size: 30px;
          color: #f13b39;
      }

      .itemName{
          font-size: 20px;
          color: black;
      }

      button{
        border:none;
        background-color:transparent;
        outline:none;
        cursor: pointer;
      }
      
      .shoppingList {
        background: white;
        padding: 3rem;
        border-radius: 1rem;
        width: 500px;
        margin: 2rem 0;
      }
      
      .shopping-list ul {
        list-style: none;
        margin: 0;
        padding: 0;
      }
      
      .shopping-item {
        padding: 1rem 0;
        display: grid;
        grid-template-columns: auto 1fr auto;
        grid-gap: 1rem;
        align-items: center;
      }
      
      .shopping-item input[type="checkbox"]:checked + .itemName {
        opacity: 0.5;
      }
      
      .shopping-item button {
        padding: 0;
        font-size: 1rem;
        cursor: pointer;
        transition: transform 0.2s;
      }
      
      .shopping-item button:hover {
        transform: scale(1.4);
      }
      
}

#daySix{
    font-family:'Playfair Display', serif;
    .wrapper{
        margin: 5%;
    }


    .grid{
        max-width: 30%;
        min-width: 30%;
        // float: left;
        margin:5px;
        padding-bottom: 5%;
    }

    .bigPic{
        display: none;
        position: fixed;
        z-index: 1;
        justify-content: center;
        // left: 0;
        top:100px;
        max-width: 50%;
        min-width: 50%;
        cursor: pointer;
        // overflow: auto;
        background-color: rgba(0,0,0,0.5);
    }

    .fa-times{
        display: none;
        position: fixed;
        right: 40%;
        top: 100px;
        font-size: 30px;
        color: black;
    }
}

#daySeven{
    font-family:'Playfair Display', serif;
    .display{
        font-size: 30px;
    }

    .box{
        display: block;
        width: 150px;
        height: 150px;
        background-color: red;
        margin-bottom: 20px;
    }

    .wrapper{
        margin: 5%;
    }

    button{
        font-family:'Playfair Display', serif;
        font-size: 20px;
        cursor: pointer;
    }
}

#dayEight{
    font-family:'Playfair Display', serif;
    .row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
      }
      
      .column {
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
        flex: 1;
      }
    .before{
        margin-top: 5%;
    }

    li{
        list-style: none;
        // float: left;
        margin: 2%;
    }

    .wrapper{
        margin: 5%;
    }

    .medium{
        float: left;
    }

    .before>ul>li>button{
        font-size: 50px;
        background: transparent;
        outline: none;
        border: none;
        cursor: pointer;
    }

    .after>ul>li>button{
        font-size: 50px;
        background: transparent;
        outline: none;
        border: none;
        cursor: pointer;
    }

    .refresh>a{
        font-size: 20px;
        text-decoration: none;
        color: black;
    }

    .fa-redo{
        padding-left: 10px;
    }

    .explaination>p{
        font-size: 20px;
    }
}

#dayNine{
    font-family:'Playfair Display', serif;
    .wrapper{
        margin: 5%;
    }

    p{
        font-size: 20px;
    }

    .emoji{
        font-size: 40px;
    }

    input, select{
        height:20px;
    }

    .profit{
        font-size: 1.75em;
    }
}

#dayTen{
    font-family:'Playfair Display', serif;
    .quoteOutput{
        width: 300px;
        height: 200px;
        font-size: 20px;
    }

    .wrapper{
        margin: 5%;
    }

    .explaination{
        font-size: 20px;
    }

    .new-quote{
        font-size: 20px;
        background: black;
        color: white;
        outline: none;
        border-radius: 5px;
        padding: 0px 5px 0px 5px;
    }
}

#dayTwelve{
   li{
       list-style: none;
   }

   .calc{
       display: flex;
   }
}

@media (max-width: 575px) {
    .body{
        font-size: 1.2em;
    }

    .medium{
        font-size: 1.2em;
    }
}

@media (max-width: 375px) {
    .body{
        font-size: 1.2em;
    }

    .medium{
        font-size: 1.2em;
    }
}