/*common code*/
* {
  font-family: 'Playfair Display', serif;
}

.back {
  color: black;
  text-decoration: none;
  font-size: 30px;
}

.fa-arrow-left {
  color: black;
  text-decoration: none;
  font-size: 30px;
}

.opacity {
  opacity: .5;
}

.medium {
  min-height: 40px;
  max-height: 40px;
  margin-top: 50px;
}

h2 {
  font-size: 3.2em;
}

.body {
  font-size: 3em;
}

span.highlight {
  transition: all 1s;
  border-radius: 50px;
  position: absolutea;
  color: white;
  opacity: .75;
  top: 0;
  background: #f13b39;
  left: 0;
  z-index: -1;
  display: block;
  padding-left: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

span {
  color: #f13b39;
}

/*Day One*/
#dayOne {
  font-family: 'Playfair Display', serif;
  margin: 10%;
}

#dayOne #searchInput {
  height: 30px;
  font-size: 20px;
}

#dayOne .fa-keyboard {
  font-size: 20px;
}

#dayOne .fa-arrow-right {
  margin-right: 10px;
  margin-left: 10px;
}

#dayOne .fa-arrow-left {
  margin-right: 10px;
}

#dayOne .answer {
  font-size: 20px;
}

#dayTwo .wrapper {
  margin: 5%;
}

#dayTwo .explaination {
  font-family: 'Playfair Display', serif;
  display: block;
}

#dayTwo .timer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  /* font-family: 'Bungee', cursive; */
  font-family: 'Press Start 2P', cursive;
  font-size: 2.5em;
  justify-content: center;
}

#dayThree #alarmSound {
  display: none;
}

#dayThree .wrapper {
  margin: 5%;
}

#dayThree .explaination {
  font-size: 20px;
}

#dayThree input {
  height: 20px;
}

#DayFour .wrapper {
  margin: 5%;
  height: 200vh;
}

#DayFour nav {
  position: fixed;
  top: 10px;
  right: 10px;
  border-radius: 50px;
}

#DayFour li {
  list-style: none;
  padding: 10px 40px 10px 10px;
  /* text-align: center;  */
  font-size: 1.5em;
  /* background: #b5c7d3; */
  transition: 0.5s;
  text-align: center;
  float: left;
}

#DayFour .btm {
  font-size: 1.5em;
}

#dayFive .toHighLight {
  cursor: pointer;
}

#dayFive li {
  list-style: none;
}

#dayFive .wrapper {
  margin: 5%;
}

#dayFive .shopping {
  display: grid;
  grid-template-columns: 1fr auto;
}

#dayFive .fa-plus-square, #dayFive .fa-check-square {
  font-size: 30px;
  color: #f13b39;
}

#dayFive .itemName {
  font-size: 20px;
  color: black;
}

#dayFive button {
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

#dayFive .shoppingList {
  background: white;
  padding: 3rem;
  border-radius: 1rem;
  width: 500px;
  margin: 2rem 0;
}

#dayFive .shopping-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#dayFive .shopping-item {
  padding: 1rem 0;
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-gap: 1rem;
  align-items: center;
}

#dayFive .shopping-item input[type="checkbox"]:checked + .itemName {
  opacity: 0.5;
}

#dayFive .shopping-item button {
  padding: 0;
  font-size: 1rem;
  cursor: pointer;
  transition: transform 0.2s;
}

#dayFive .shopping-item button:hover {
  transform: scale(1.4);
}

#daySix .wrapper {
  margin: 5%;
}

#daySix .grid {
  max-width: 30%;
  min-width: 30%;
  margin: 5px;
  padding-bottom: 5%;
}

#daySix .bigPic {
  display: none;
  position: fixed;
  z-index: 1;
  justify-content: center;
  top: 100px;
  max-width: 50%;
  min-width: 50%;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
}

#daySix .fa-times {
  display: none;
  position: fixed;
  right: 40%;
  top: 100px;
  font-size: 30px;
  color: black;
}

#daySeven .display {
  font-size: 30px;
}

#daySeven .box {
  display: block;
  width: 150px;
  height: 150px;
  background-color: red;
  margin-bottom: 20px;
}

#daySeven .wrapper {
  margin: 5%;
}

#daySeven button {
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  cursor: pointer;
}

#dayEight .row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

#dayEight .column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

#dayEight .before {
  margin-top: 5%;
}

#dayEight li {
  list-style: none;
  margin: 2%;
}

#dayEight .wrapper {
  margin: 5%;
}

#dayEight .medium {
  float: left;
}

#dayEight .before > ul > li > button {
  font-size: 50px;
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

#dayEight .after > ul > li > button {
  font-size: 50px;
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

#dayEight .refresh > a {
  font-size: 20px;
  text-decoration: none;
  color: black;
}

#dayEight .fa-redo {
  padding-left: 10px;
}

#dayEight .explaination > p {
  font-size: 20px;
}

#dayNine .wrapper {
  margin: 5%;
}

#dayNine p {
  font-size: 20px;
}

#dayNine .emoji {
  font-size: 40px;
}

#dayNine input, #dayNine select {
  height: 20px;
}

#dayNine .profit {
  font-size: 1.75em;
}

#dayTen {
  font-family: 'Playfair Display', serif;
}

#dayTen .quoteOutput {
  width: 300px;
  height: 200px;
  font-size: 20px;
}

#dayTen .wrapper {
  margin: 5%;
}

#dayTen .explaination {
  font-size: 20px;
}

#dayTen .new-quote {
  font-size: 20px;
  background: black;
  color: white;
  outline: none;
  border-radius: 5px;
  padding: 0px 5px 0px 5px;
}

#dayTwelve li {
  list-style: none;
}

#dayTwelve .calc {
  display: flex;
}

@media (max-width: 375px) {
  .body {
    font-size: 1.2em;
  }
  .medium {
    font-size: 1.2em;
  }
}
