.wrapper {
  margin: 5%;
  color: #152C53;
  font-family: "Roboto", sans-serif;
  font-size: 1.2em;
}

a.downloadTwo {
  text-decoration: none;
  color: #152C53;
  transition: transform .5s ease-in-out;
  padding: 10px 20px 10px 20px;
  border: 1px solid #152C53;
  border-radius: 100px;
  margin-right: 5px;
}

a.downloadTwo:hover {
  transform: scale(1.05);
  background: #152C53;
  color: white;
}

.download {
  position: fixed;
  right: 20px;
  top: 20px;
  padding: 10px 20px 10px 20px;
  border: 1px solid #152C53;
  border-radius: 100px;
  transition: transform .5s ease-in-out;
}

a.download {
  text-decoration: none;
  color: #152C53;
}

.download:hover {
  transform: scale(1.05);
  background: #152C53;
  color: white;
}

.vid {
  text-align: center;
}

.list > ul > li {
  list-style: none;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px solid #F9C33E;
  width: 70%;
  line-height: 1.5;
}

.left {
  font-size: .75em;
  text-transform: uppercase;
  display: flex;
}

.right {
  width: 75%;
}

.description {
  font-size: 1.75em;
}

.purpose {
  width: 80%;
}

.bold {
  font-weight: 700;
}

.cLink {
  text-decoration: none;
  color: #152C53;
}

.vidDescript {
  margin-top: 5%;
}

.research {
  font-size: 1.2em;
}

.rLink {
  text-decoration: none;
  list-style: none;
  color: #507399;
}

.icon {
  font-size: 30px;
}

.footer {
  margin-top: 2%;
  text-align: center;
}

@media (max-width: 414px) {
  .noMobile {
    display: none;
  }
  .download {
    display: none;
  }
  .list > ul > li {
    list-style: none;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px solid #F9C33E;
    width: 90%;
    line-height: 1.5;
  }
}
