* {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

main {
  background: #dff1f2;
  display: flex;
  justify-content: center;
  padding: 20px;
  margin: 0;
  flex-wrap: wrap;
}

.container {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 200px 1fr 1fr;
  grid-template-rows: 80px 1fr 1fr 100px;
  grid-gap: 1rem;
  grid-template-areas: "header header header" "content-1 content-1 content-1" "content-2 content-2 sidebar" "content-3 content-3 content-3" "content-4 content-4 content-4" "content-5 content-5 content-5" "content-6 content-6 content-6" "content-7 content-7 content-7" "content-8 content-8 content-8" "content-9 content-9 content-9" "content-10 content-10 content-10" "content-11 content-11 content-11" "content-12 content-12 content-12" "content-13 content-13 content-13" "content-14 content-14 content-14" "content-15 content-15 content-15" "content-16 content-16 content-16" "content-17 content-17 content-17" "content-18 content-18 content-18" "content-19 content-19 content-19" "content-20 content-20 content-20" "content-21 content-21 content-21" "content-22 content-22 content-22" "content-23 content-23 content-23" "content-24 content-24 content-24" "content-25 content-25 content-25" "content-26 content-26 content-26" "content-27 content-27 content-27" "content-28 content-28 content-28" "content-29 content-29 content-29" "content-30 content-30 content-30" "content-31 content-31 content-31" "content-32 content-32 content-32" "content-33 content-33 content-33" "content-34 content-34 content-34" "content-35 content-35 content-35" "content-36 content-36 content-36" "footer footer footer";
}

.header {
  grid-area: header;
}

.palette {
  grid-area: palette;
}

.sidebar {
  grid-area: sidebar;
}

.gallery {
  grid-area: gallery;
}

.middleBar {
  grid-area: middleBar;
}

.middleBarTwo {
  grid-area: middleBarTwo;
}

.sideQuestion {
  grid-area: sideQuestion;
}

.redactCIA {
  grid-area: redactCIA;
}

.content-1 {
  grid-area: content-1;
}

.content-2 {
  grid-area: content-2;
}

.content-3 {
  grid-area: content-3;
}

.summary {
  grid-area: summary;
}

.content-4 {
  grid-area: content-4;
}

.content-5 {
  grid-area: content-5;
}

.content-6 {
  grid-area: content-6;
}

.content-7 {
  grid-area: content-7;
}

.content-8 {
  grid-area: content-8;
}

.content-9 {
  grid-area: content-9;
}

.content-10 {
  grid-area: content-10;
}

.content-11 {
  grid-area: content-11;
}

.content-12 {
  grid-area: content-12;
}

.content-13 {
  grid-area: content-13;
}

.content-14 {
  grid-area: content-14;
}

.content-15 {
  grid-area: content-15;
}

.content-16 {
  grid-area: content-16;
}

.content-17 {
  grid-area: content-17;
}

.content-18 {
  grid-area: content-18;
}

.content-19 {
  grid-area: content-19;
}

.content-20 {
  grid-area: content-20;
}

.content-21 {
  grid-area: content-21;
}

.content-22 {
  grid-area: content-22;
}

.content-23 {
  grid-area: content-23;
}

.content-24 {
  grid-area: content-24;
}

.content-25 {
  grid-area: content-25;
}

.content-26 {
  grid-area: content-26;
}

.content-27 {
  grid-area: content-27;
}

.content-28 {
  grid-area: content-28;
}

.content-29 {
  grid-area: content-29;
}

.content-30 {
  grid-area: content-30;
}

.content-31 {
  grid-area: content-31;
}

.content-32 {
  grid-area: content-32;
}

.content-33 {
  grid-area: content-33;
}

.content-34 {
  grid-area: content-34;
}

.itemLeft {
  display: flex;
  justify-content: left;
  align-items: left;
  margin: 2%;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
}

.heroTitle {
  font-family: "Baloo Bhai", cursive;
  font-size: 2em;
  color: #00315C;
  position: absolute;
  top: 20px;
  right: 40px;
}

.fa-arrow-left {
  color: black;
}

.heroImage {
  background-image: url("../../imgs/casestudies/duck/RubberDuckMock.png");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.fa-arrow-right, .fa-arrow-left {
  font-size: 30px;
  color: #00315C;
}

.CTA {
  background: #00315C;
  color: white;
  font-size: 1.25em;
  align-items: center;
  width: 350px;
  height: 70px;
  float: left;
  z-index: 2;
  position: relative;
  border-radius: 100px;
}

.CTA > p {
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 70px;
  padding-right: 70px;
}

.headerIntro {
  background: #fafafa;
  display: inline-block;
  width: 40%;
  padding: 20px;
  position: absolute;
  top: 600px;
  left: 100px;
  box-shadow: 6px 20px 18px -2px rgba(3, 67, 91, 0.13);
}

.boldHeader {
  font-family: "Baloo Bhai", cursive;
  font-size: 1.2em;
  color: #00315C;
}

.headerDescript {
  color: #00315C;
  font-family: "Open Sans", sans-serif;
}

.headerFull {
  color: #00315C;
  padding-top: 20px;
  font-family: "Open Sans", sans-serif;
}

.duckLogo {
  background: contain;
  width: 150px;
  position: absolute;
  right: 100px;
  top: 600px;
}

.return {
  position: absolute;
  top: 50px;
  left: 50px;
  font-size: 30px;
  color: #00315C;
  font-family: "Baloo Bhai", cursive;
  transition: ease-in-out 1s;
}

.return:hover {
  color: #eef2f5;
  background-color: #00315C;
  transition: ease-in-out 1s;
}

.backRubber {
  display: none;
}

.sectionTitle {
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: .8em;
  color: #00315C;
  opacity: .7;
  margin-top: 5%;
  margin-bottom: 30px;
}

.secTitle {
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: .8em;
  color: #00315C;
  opacity: .7;
  margin-top: 15%;
  margin-bottom: 30px;
}

.weeTitle {
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: .8em;
  color: #00315C;
  opacity: .7;
  margin-top: 2%;
  margin-bottom: 30px;
}

.boldQoute {
  font-family: "Baloo Bhai", cursive;
  width: 60%;
  text-align: center;
  color: #00315C;
  font-size: 2em;
  margin-bottom: 100px;
  margin-top: 200px;
  position: relative;
}

.boldQouteOne {
  font-family: "Baloo Bhai", cursive;
  width: 100%;
  text-align: center;
  color: #00315C;
  font-size: 2em;
  margin-bottom: 0px;
  margin-top: 100px;
  position: relative;
}

.textContainer {
  margin-top: 0px;
  margin-bottom: 100px;
}

.leftHalfText {
  width: 100%;
  position: relative;
  float: left;
  font-family: "Open Sans", sans-serif;
  color: #00315C;
  margin-top: 0px;
}

.containerSm {
  color: #00315C;
  font-family: "Open Sans", sans-serif;
  padding-bottom: 100px;
}

.Smzoom {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.Smzoom:hover {
  width: 30%;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.zoom {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.zoom:hover {
  width: 50%;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.Bgzoom {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.Bgzoom:hover {
  width: 90%;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.centered {
  margin-left: 20%;
}

.bodyFullWidth {
  width: 60%;
  font-family: "Open Sans", sans-serif;
  color: #00315C;
  position: relative;
  margin-bottom: 5%;
}

.density {
  background: contain;
  width: 50%;
  margin-left: 60px;
}

.fullWidthText {
  font-family: "Open Sans", sans-serif;
  color: #00315C;
  width: 100%;
  position: relative;
  float: left;
  font-family: "Open Sans", sans-serif;
  color: #00315C;
  margin-top: 40px;
}

.rightContainer {
  font-family: "Open Sans", sans-serif;
  color: #00315C;
  margin-top: 80px;
  width: 60%;
}

.margTop {
  margin-top: 50px;
}

.processTxt {
  margin-bottom: 100px;
}

.affinityLeft {
  background: contain;
  width: 41%;
  box-shadow: 6px 20px 18px -2px rgba(3, 67, 91, 0.13);
}

.affinityRight {
  background: contain;
  width: 20%;
  margin-left: 50px;
  box-shadow: 6px 20px 18px -2px rgba(3, 67, 91, 0.13);
}

.pillars {
  width: 80%;
  margin-left: 100px;
}

.leftHalfThirdOne {
  font-family: "Open Sans", sans-serif;
  color: #00315C;
  margin-top: 80px;
  width: 30%;
}

.leftHalfThird {
  font-family: "Open Sans", sans-serif;
  color: #00315C;
  margin-top: 80px;
  width: 60%;
}

.flowOne {
  box-shadow: 6px 20px 18px -2px rgba(3, 67, 91, 0.13);
  margin-top: 10%;
  width: 60%;
  padding: 0;
}

.leftHalfUserFlow {
  font-family: "Open Sans", sans-serif;
  color: #00315C;
  margin-top: 40px;
  width: 60%;
}

.wireframeContainer {
  margin-top: 100px;
  color: #00315C;
  font-family: "Open Sans", sans-serif;
}

.testLeft {
  width: 49%;
  box-shadow: 6px 20px 18px -2px rgba(3, 67, 91, 0.13);
}

.testRight {
  width: 49.5%;
  box-shadow: 6px 20px 18px -2px rgba(3, 67, 91, 0.13);
}

.paperPrototypeContainter {
  width: 60%;
}

.leftEven {
  width: 50%;
  position: relative;
  float: left;
  font-family: "Open Sans", sans-serif;
  color: #00315C;
  margin-top: 40px;
}

.rightEven {
  width: 50%;
  position: relative;
  float: left;
  font-family: "Open Sans", sans-serif;
  color: #00315C;
  margin-top: 40px;
}

.box {
  width: 60%;
  text-align: center;
}

.sectionCentered {
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: .8em;
  color: #00315C;
  opacity: .7;
  margin-top: 8%;
  margin-bottom: 30px;
  text-align: center;
  width: 100%;
}

.rubFinal {
  background: contain;
  width: 50%;
}

.hash {
  background: contain;
  width: 50%;
}

.rub {
  float: left;
  box-shadow: 6px 20px 18px -2px rgba(3, 67, 91, 0.13);
}

.ribbonTxt {
  color: #00315C;
  font-family: "Open Sans", sans-serif;
}

.lilVid {
  float: left;
  margin: 2%;
}

.series {
  width: 18%;
  margin: 20px;
}

.centeredUserJourney {
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: .8em;
  color: #00315C;
  opacity: .7;
  margin-top: 40px;
  margin-bottom: 30px;
  text-align: center;
  width: 100%;
}

.threeScreen {
  width: 100%;
}

.lorna {
  box-shadow: 6px 20px 18px -2px rgba(3, 67, 91, 0.13);
  height: auto;
}

.fullVersion {
  width: 23%;
  text-align: center;
}

.backUp {
  width: 5%;
  transform: rotate(90deg);
  position: fixed;
  bottom: 20px;
  right: 10px;
  display: none;
  cursor: pointer;
  z-index: 99999;
}

.outcomeTalk {
  color: #00315C;
  font-family: "Open Sans", sans-serif;
  width: 60%;
}

.test {
  color: #00315C;
  font-family: "Open Sans", sans-serif;
  width: 100%;
}

.ribbonImg {
  width: 100%;
  text-align: center;
}

.bottomDwell {
  width: 25%;
}

.base {
  font-size: 30px;
  margin: 100px;
  width: 100%;
  color: #00315C;
  font-family: "Baloo Bhai", cursive;
  text-align: center;
}

.baseSm {
  width: 100%;
  font-size: 20px;
  margin-bottom: 50px;
  color: #00315C;
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.button {
  background: #00315C;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  margin: 50px;
  cursor: pointer;
  font-size: 2.5em;
  font-family: "Baloo Bhai", cursive;
  border-radius: 20px;
}

.feedback {
  font-family: "Open Sans", sans-serif;
  color: #00315C;
}

.iconHand {
  font-size: 40px;
}

.previous {
  border: 1px solid #00315C;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-top: 0;
  padding-right: 20px;
  border-radius: 100px;
  margin-left: 50%;
  width: 300px;
  color: #00315C;
  margin-bottom: 100px;
  transition: 1s ease-in-out;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  margin: 10px;
  margin-bottom: 100px;
  font-size: 20px;
}

.previous:hover {
  color: #eef2f5;
  background: #00315C;
  transition: 1s ease-in-out;
}

.next {
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 100px;
  margin-left: 40%;
  width: 300px;
  color: #edeef4;
  transition: 1s ease-in-out;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  color: #00315C;
  border: 1px solid #00315C;
  padding-top: 0px;
  padding-bottom: 10px;
  margin: 10px;
  margin-bottom: 100px;
  font-size: 20px;
}

.next:hover {
  background: #00315C;
  color: #eef2f5;
  transition: 1s ease-in-out;
}

.iconLeft {
  font-size: 40px;
  margin-right: 20px;
}

.iconRight {
  font-size: 40px;
  margin-left: 20px;
}

.iconSmL {
  display: none;
}

.smMarg {
  margin-top: 50px;
}

.bgMarg {
  margin-top: 200px;
}

@media (max-width: 1200px) {
  .sectionTitle {
    margin-top: 20px;
    margin-bottom: 15px;
  }
  .textContainer {
    margin-top: -100px;
  }
  .containerSm {
    margin-top: -150px;
  }
}

@media (max-width: 1000px) {
  .density {
    width: 60%;
  }
}

@media (max-width: 800px) {
  .duckLogo {
    width: 80px;
    top: 700px;
    right: 15px;
  }
}

@media (max-width: 760px) {
  .heroTitle {
    font-size: 20px;
    top: 20px;
    right: 40px;
  }
  .boldQoute {
    font-size: 30px;
  }
  .density {
    width: 80%;
  }
  .iconSmL {
    display: block;
    margin: 5%;
  }
  .next {
    display: none;
  }
  .previous {
    display: none;
  }
}

@media (max-width: 740px) {
  .lorna {
    width: 80%;
  }
  .containerSm {
    display: none;
  }
}

@media (max-width: 600px) {
  .pillars {
    width: 70%;
  }
}

@media (max-width: 460px) {
  .heroTitle {
    font-size: 18px;
    top: 40px;
    right: 40px;
  }
  .return {
    display: none;
  }
  .backRubber {
    display: block;
    position: absolute;
    margin: 5%;
  }
  .duckLogo {
    width: 50px;
    top: 500px;
    right: 5px;
  }
  .headerIntro {
    width: 100%;
    top: 590px;
    left: 5px;
    font-size: 15px;
  }
  .headerFull {
    width: 90%;
    margin-bottom: 20px;
  }
  .sectionTitle {
    margin-top: 40%;
  }
  .boldQoute {
    margin-bottom: 0px;
    margin-top: 150px;
    position: relative;
  }
  .textContainer {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .leftHalfText {
    width: 100%;
    position: relative;
    float: left;
    font-family: "Open Sans", sans-serif;
    color: #00315C;
    font-size: 15px;
    margin-top: 0px;
  }
  .rightHalfText {
    font-size: 15px;
  }
  .headerFull {
    margin-left: 0px;
    width: 80%;
    margin-right: 0px;
  }
  .headerIntro {
    width: 90%;
  }
  .boldQouteOne {
    font-size: 20px;
    margin-top: 200px;
    margin-bottom: 0px;
  }
  .leftHalfText {
    width: 120%;
    margin-top: -200px;
    margin-left: 0px;
  }
}

@media (max-width: 414px) {
  .baseSm {
    margin-bottom: 0px;
  }
  .disappear {
    display: none;
  }
  .base {
    margin: 10px;
  }
  .outcomeTalk {
    width: 90%;
  }
  .fullVersion {
    width: 30%;
  }
  .series {
    width: 30%;
  }
  .rubFinal {
    width: 80%;
  }
  .hash {
    width: 80%;
  }
  .paperPrototypeContainter {
    width: 90%;
  }
  .leftEven {
    margin-top: 0px;
  }
  .rightEven {
    margin-top: 0px;
  }
  .bodyFullWidth {
    width: 90%;
  }
  .rightContainer {
    width: 90%;
  }
  .leftHalfText {
    width: 120%;
    margin-top: -150px;
    margin-left: 0px;
  }
  .sectionTitle {
    margin-top: 0px;
  }
  .headerIntro {
    width: 90%;
  }
  .itemLeft {
    margin: 10px;
  }
  .return {
    display: none;
  }
  .mock {
    width: 100%;
    height: 100%;
  }
  .fullWidthText {
    margin-left: 0px;
  }
  .boldQoute {
    font-size: 20px;
    margin-top: 220px;
  }
  .boldQouteOne {
    margin-top: 0px;
  }
  .textContainer {
    margin-top: -35px;
  }
  .density {
    width: 100%;
    margin-left: 0px;
    margin-top: 50px;
  }
  .leftHalfThirdOne {
    width: 90%;
  }
  .pillars {
    margin-left: 20px;
    width: 90%;
  }
  .leftHalfUserFlow {
    width: 90%;
  }
  .flowOne {
    width: 90%;
  }
  .leftHalfThird {
    width: 90%;
  }
  .heroTitle {
    top: 60px;
  }
}
