$fontPlay:'Playfair Display', ;
$fontRobot: 'Roboto' ;
$blue: #00ABF1;
$lightBlue: #F5F8FC;
$black: #0F0E0E;
$white: #FFFFFF;
*{
  scroll-behavior: smooth;
  flex-wrap: wrap;
}
.container {
    display: grid;
    width: 100%;
    height: 200vh;
    grid-template-columns: 200px 1fr 1fr;
    grid-template-rows: 80px 1fr 1fr 100px;
    grid-gap: 1rem;
    grid-template-areas:
    "header header sidebar"
    "content-1 content-1 sidebar"
    "redactCIA redactCIA redactCIA"
    "content-2 content-2 sidebar"
    "content-3 content-3 sidebar"
    "summary summary summary"
    "smallSum smallSum smallSum"
    "content-4 content-4 sidebar"
    "content-5 content-5 sidebar"
    "gallery gallery gallery"
    "middleBar middleBar middleBar"
    "middleBarTwo middleBarTwo middleBarTwo"
    "palette palette palette"
    "content-6 content-6 content-6"
    "content-7 content-7 content-7"
    "content-8 content-8 content-8"
    "content-9 content-9 content-9"
    "content-10 content-10 content-10"
    "content-11 content-11 content-11"
    "content-12 content-12 content-12"
    "content-13 content-13 sideQuestion"
    "content-14 content-14 sideQuestion"
    "content-15 content-15 sideQuestion"
    "content-16 content-16 sideQuestion"
    "content-17 content-17 sideQuestion"
    "content-18 content-18 sideQuestion"
    "content-19 content-19 content-19"
    "content-20 content-20 content-20"
    "content-21 content-21 content-21"
    "content-22 content-22 content-22"
    "content-23 content-23 content-23"
    "content-24 content-24 content-24"
    "content-25 content-25 content-25"
    "content-26 content-26 content-26"
    "content-27 content-27 content-27"
    "content-28 content-28 content-28"
    "content-29 content-29 content-29"
    "content-30 content-30 content-30"
    "content-31 content-31 content-31"
    "content-32 content-32 content-32"
    "content-33 content-33 content-33"
    "content-34 content-34 content-34"
    "content-35 content-35 content-35"
    "content-36 content-36 content-36"
    "footer footer footer";
  }
  
  .header {
    grid-area: header;
  }

  .palette{
      grid-area: palette;
  }
  
  .sidebar {
    grid-area: sidebar;
  }

  .gallery {
    grid-area: gallery;
  }

  .middleBar {
    grid-area: middleBar;
  }

  .middleBarTwo{
      grid-area: middleBarTwo;
  }


  .sideQuestion {
    grid-area: sideQuestion;
  }
  
  .redactCIA{
      grid-area: redactCIA;
  }
  
  .content-1 {
    grid-area: content-1;
  }
  
  .content-2 {
    grid-area: content-2;
  }
  
  .content-3 {
    grid-area: content-3;
  }

  .summary{
    grid-area: summary;
  }
  
  .content-4 {
    grid-area: content-4;
  }
  .content-5 {
    grid-area: content-5;
    grid-column: 1 / 6;
  }
  .content-6 {
    grid-area: content-6;
  }

  .content-7 {
    grid-area: content-7;
    grid-column: 1 / 3;
  }

  .content-8 {
    grid-area: content-8;
  }

  .content-9 {
    grid-area: content-9;
  }

  .content-10 {
    grid-area: content-10;
  }

  .content-11 {
    grid-area: content-11;
  }

  .content-12 {
    grid-area: content-12;
  }
  
  .content-13 {
    grid-area: content-13;
  }

  .content-14 {
    grid-area: content-14;
  }

  .content-15 {
    grid-area: content-15;
  }

  .content-16 {
    grid-area: content-16;
  }
  .content-17 {
    grid-area: content-17;
  }
  .content-18 {
    grid-area: content-18;
  }
  .content-19 {
    grid-area: content-19;
  }
  .content-20 {
    grid-area: content-20;
  }
  .content-21 {
    grid-area: content-21;
  }

  .content-22 {
    grid-area: content-22;
  }

  .content-23 {
    grid-area: content-23;
  }

  .content-24 {
    grid-area: content-24;
  }

  .content-25 {
    grid-area: content-25;
  }
  
  .content-26{
    grid-area: content-26;
  }

  .content-27{
    grid-area: content-27;
  }

  .content-28{
    grid-area: content-28;
  }

  .content-29{
    grid-area: content-29;
  }

  .content-30{
    grid-area: content-30;
  }

  .content-31{
    grid-area: content-31;
  }

  .content-32{
      grid-area: content-32;
  }

  .content-33{
    grid-area: content-33;
}

.content-34{
  grid-area: content-34;
}

body {
    background-color: $white;
    display: flex;
    justify-content: center;
    // padding: 20px;
    margin: 0;
  }
  
  .itemLeft {
    display: flex;
    justify-content: left;
    align-items: left;
    // margin: 50px;
  }     

    
  .item {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hero{
    max-width: 100%;
    min-width: 100%;
  }

    a {
        text-decoration: none;
    }

    .title{
        font-family: $fontPlay;
        font-size: 60px;
        margin-top: 10%;
    }

    .miniTitle{
        font-size: 20px;
        font-family: $fontRobot;
        margin-top: 5%;
    }

    .rounded {
        border-radius: 100px;
    }

    .betaLink{
      color: black;
      padding: 10px 20px 10px 20px;
      border: black solid 1px;
      border-radius: 100px;
      font-size: 1.2em;
  }

  .betaLink:hover{
    background: black;
    color: white;
  }

    .back{
        font-family: $fontPlay;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        color: #0F0E0E;
        top: 10px;
        left: 10px;
        position: absolute;
        font-size: 30px;
        // border: 1px solid $black;
    }

    .fa-arrow-right, .fa-arrow-left{
      font-size: 30px;
      color: $black;
    }

    .CTA{
      background: $black;
      color: white;
      font-size: 1.25em;
      align-items: center;
      width: 350px;
      height: 70px;
      float: left;
      z-index: 2;
      position: relative;
      border-radius: 100px;
    }
    
    .CTA>p{
      margin: 0;
      padding-top: 20px;
      padding-bottom: 20px;    
      padding-left: 70px;
      padding-right: 70px;
      text-align: center;
    }

    .bodyTitle{
        font-size: 60px;
        font-family: $fontPlay;
        text-align: left;
        margin-left: 50px;
    }

    .bodyText{
        font-size: 20px;
        font-family: $fontRobot;
        text-align: left;
        width: 70%;
        margin-left: 50px;
        margin-top: 5%;
    }

    .whole{
        width: 90%;
    }

    .midTitle{
        font-size: 30px;
        font-family: $fontPlay;
        text-align: left;
        width: 70%;
        margin-top: 10%;
        margin-left: 50px;
    }

    .pal{
        width: 80%;
    }

    .vidSeries{
      margin-bottom: 200px;
      margin-top: 100px;
      -webkit-box-shadow: 2px 11px 15px 4px rgba(0,0,0,0.29); 
      box-shadow: 2px 11px 15px 4px rgba(0,0,0,0.29);
    }

    .low{
        width: 12%;
        margin: 2%;
        margin-top: 5%;
        -webkit-box-shadow: 2px 11px 15px 4px rgba(0,0,0,0.29); 
box-shadow: 2px 11px 15px 4px rgba(0,0,0,0.29);
    }

    .mid{
        width: 25%;
        margin: 2%;
        margin-top: 5%;
        -webkit-box-shadow: 2px 11px 15px 4px rgba(0,0,0,0.29); 
box-shadow: 2px 11px 15px 4px rgba(0,0,0,0.29); 
    }

    .iconHand{
      font-size: 40px;
    }
    
    .iconLeft{
      font-size: 40px;
      margin-right: 20px;
    }
    
    .iconRight{
      font-size: 40px;
      margin-left: 20px;
    }
        
        .previous{
        // border: 1px solid #d52f79;
        border: 1px solid $black;
        padding-bottom: 10px;
        padding-left: 20px;
        padding-top: 0;
        padding-right: 20px;
        border-radius: 100px;
        margin-left: 50%;
        width: 300px;
        color: #191f38;
        margin-bottom: 100px;
        transition: 1s ease-in-out;
        text-decoration: none;
        text-align: center;
        display: inline-block;
        margin: 10px;
        margin-bottom: 100px;
        font-family: $fontRobot;
        font-size: 20px;
        }
        
        .previous:hover{
        color: $white;
        background: $black;
        transition: 1s ease-in-out;
        }
        
        .toTop{
          font-size: 40px;
          position: fixed;
          right: 20px;
          bottom: 200px;
          background: transparent;
          text-decoration: none;
        }

        .next{
          padding-left: 20px;
          padding-right: 20px;
          border-radius: 100px;
          margin-left: 40%;
          width: 300px;
          color: #edeef4;
          transition: 1s ease-in-out;
          text-align: center;
          display: inline-block;
          text-decoration: none;
          color: $black;
          border: 1px solid $black;
          padding-top: 0px;
          padding-bottom: 10px;
          margin: 10px;
          margin-bottom: 100px;
          font-family: $fontRobot;
          font-size: 20px;
        }
        
        .next:hover{
        background: $black;
        color: $white;
        transition: 1s ease-in-out;
        }

        .base{
          font-size: 30px;
          font-family: $fontPlay;
          margin-bottom: 50px;
          text-align: center;
        }

        .baseSm{
          font-size: 20px;
          font-family: $fontPlay;
          margin-bottom: 50px;
        }

    // phones

    div.temp-wrapper {
        margin: 40px;
      }

      .px {
        position: relative;
        padding: 6% 7%;
      }
      
      .px--ls {
        padding: 3.3% 3%;
      }
      
        .px__body {
          position: absolute;
          top:    0;
          right:  1%;
          bottom: 0;
          left:   1%;
          background: linear-gradient(to top, #e5e5e5 0%, #f7f7f9 10%, #eeeef0 90%);
          border-radius: 14%/7%;
          box-shadow: inset 0 0 3px 1px #000
        }
      
        .px--ls > .px__body {
          top:    1%;
          right:  0;
          bottom: 1%;
          left:   0;
          border-radius: 7%/14%;
        }
      
          .px__body:before {
            content: '';
            position: absolute;
            top:     .7%;
            right:  1.4%;
            bottom:  .7%;
            left:   1.4%;
            background-color: #000;
            border-radius: 13%/7%;
            box-shadow: 0 0 3px #000
          }
      
          .px--ls > .px__body:before {
            top:    1.4%;
            right:   .7%;
            bottom: 1.4%;
            left:    .7%;
            border-radius: 7%/13%;
          }
      
          .px__body:after {
            content: '';
            position: absolute;
            top:    1%;
            right:  2.3%;
            bottom: 1%;
            left:   2.3%;
            background-color: #000;
            box-shadow: inset 0 0 10px 2px #fff;
            border-radius: 13%/6.5%;
          }
      
          .px--ls > .px__body:after {
            top:    2.3%;
            right:  1%;
            bottom: 2.3%;
            left:   1%;
            border-radius: 6.5%/13%;
          }
      
          .px__body__cut {
            position: absolute;
            z-index: 2;
            top:   3%;
            left: 50%;
            width: 50%;
            height: 3.5%;
            background-color: #000;
            border-radius: 0 0 10% 10%/80%;
            transform: translate3d(-50%,0,0);
          }
      
          .px--ls .px__body__cut {
            top: 50%;
            left: 3%;
            width: 3.5%;
            height:  50%;
            border-radius: 0 80% 80% 0/10%;
            transform: translate3d(0,-50%,0);
          }
      
          .px__body__speaker, .px__body__camera, .px__body__sensor {
            position: absolute;
            z-index: 2;
            background-color: #222;
            transform: translate(-50%,-50%);
          }
      
          .px__body__speaker {
            top:  4%;
            left: 50%;
            width: 12%;
            height:  .8%;
            border-radius: 5px;
          }
      
          .px--ls .px__body__speaker {
            top:  50%;
            left: 4%;
            width:    .8%;
            height: 12%;
          }
      
          .px__body__camera {
            top:   4%;
            left: 36%;
            width:  3.5%;
            height: 1.7%;
            border-radius: 50%;
            box-shadow: inset 0 0 2px 1px #000;
          }
      
          .px--ls .px__body__camera {
            top:  64%;
            left:  4%;
            width:  1.7%;
            height: 3.5%;
          }
      
          .px__body__sensor {
            top:   4%;
            left: 61%;
            width:  2.2%;
            height: 1.1%;
            border-radius: 50%;
            background-color: #2a4a73;
            box-shadow: inset 0 0 2px 1px #000;
          }
      
          .px--ls .px__body__sensor {
            top:  39%;
            left:  4%;
            width:  1.1%;
            height: 2.2%;
          }
      
          .px__body__mute, .px__body__up, .px__body__down, .px__body__right {
            position: absolute;
            background-color: #b5b8ba;
            box-shadow: inset 0 5px 5px -3px rgba(0,0,0,.5), inset 0 -5px 5px -3px rgba(0,0,0,.5);
            transform: translate(0,-50%);
          }
      
          .px--ls .px__body__mute, .px--ls .px__body__up, .px--ls .px__body__down, .px--ls .px__body__right {
            box-shadow: inset 5px 0 5px -3px rgba(0,0,0,.5), inset -5px 0 5px -3px rgba(0,0,0,.5);
            transform: translate(-50%,0);
          }
      
          .px--ls .px__body__right {
            background-color: #f4f6f6;
          }
      
          .px__body__mute {
            top: 14.7%;
            left: -.7%;
            width: .7%;
            height: 4%;
            border-radius: 1px 0 0 1px;
          }
      
          .px--ls .px__body__mute {
            top: auto;
            left:  14.7%;
            bottom: -.7%;
            width: 4%;
            height: .7%;
            border-radius: 0 0 1px 1px;
          }
      
          .px__body__up, .px__body__down {
            left: -1%;
            width:  1%;
            height: 7.5%;
            border-radius: 2px 0 0 2px;
          }
      
          .px--ls .px__body__up, .px--ls .px__body__down {
            bottom: -1%;
            width:  7.5%;
            height: 1%;
            border-radius: 0 0 2px 2px;
          }
      
          .px__body__up {
            top: 25%;
          }
      
          .px--ls .px__body__up {
            top: auto;
            left: 25%;
          }
      
          .px__body__down {
            top: 34%;
          }
      
          .px--ls .px__body__down {
            top: auto;
            left: 34%;
          }
      
          .px__body__right {
            top:   25%;
            right: -1%;
            width:  1%;
            height: 7.5%;
            border-radius: 0 2px 2px 0;
          }
      
          .px--ls .px__body__right {
            top:  -1%;
            right: auto;
            left: 25%;
            width:  7.5%;
            height: 1%;
            border-radius: 2px 2px 0 0;
          }
      
        .px__screen {
          position: relative;
          z-index: 1;
        }
      
          .px__screen__ {
            position: relative;
            padding-bottom: 218%;
            background-color: #888;
            border-radius: 10%/5%;
            box-shadow: 0 0 10px #000;
          }
      
          .px--ls .px__screen__ {
            padding-bottom: 46%;
            border-radius: 5%/10%;
          }
      
            .px__screen__frame {
              position: absolute;
              top:    0;
              right:  0;
              bottom: 0;
              left:   0;
              overflow: hidden;
              border-radius: inherit;
              background-size: cover;
              background-position: center center
            }

            .margBtm{
              margin-bottom: 50px;
            }

            .backing{
              margin:20px;
              display: none;
            }

            .iconSmL{
              margin: 5%;
            }

            .iconUp{
              display: none;
            }

            .redactCIA{
              text-align: center;
            }

            .red{
              min-height: 300px;
              max-height: 300px;
              display: block;
              margin: 50px;
              -webkit-box-shadow: 2px 11px 15px 4px rgba(0,0,0,0.29); 
      box-shadow: 2px 11px 15px 4px rgba(0,0,0,0.29);
            }

                  
      @media all and (max-width: 768px) {
        // .mid{
        //   width: 15%;
        // }

        .title{
          font-size: 40px;
          text-align: center;
        }

        .miniTitle{
          text-align: center;
        }
        .iconSmL{
          display: block;
          margin: 5%;
        }

        .iconUp{
          display: block;
          float: right;
          margin-right: 50px;
          margin-bottom: 50px;
          position: fixed;
        }

        .next{
          display: none;
        }

        .previous{
          display: none;
        }

        .bodyText{
          margin-left: 20px;
          width: 90%;
          margin-top: 10%;
        }

        .midTitle{
          margin-left: 40px;
          font-size: 25px;
        }

        .bodyTitle{
          font-size: 30px;
          margin-left: 40px;
          margin-top: 50px;
        }
        .temp-wrapper {
          width: 20%;
        }


        .whole{
          padding-left: 7%;
          padding-top: 10%;
        }
      

        div.temp-wrapper{
          margin: 10px;
        }
      
        .temp-wrapper--wide {
          width: 66.66667%;
        }
      
        .temp-wrapper--wider {
          width: 100%;
        }

        .pal{
          width: 50%;
        }

      }
      
      @media all and (min-width: 1024px) {
        .temp-wrapper {
          width: 25%;
          margin: 10px;
        }

        .temp-wrapper--wide {
          width: 50%;
        }
      
        .temp-wrapper--wider {
          width: 75%;
        }
      }

            @media all and (min-width: 480px) {
              .temp-wrapper {
                // width: 50%;
                margin: 40px auto;
              }
            
              .temp-wrapper--wide {
                width: 100%;
              }
            
              .temp-wrapper--wider {
                width: 100%;
              }

              .toTop{
                display: none;
              }
            }
            @media only screen and (max-width: 414px){
              // .container {
              //   width: 20%;
              // }

              .iconSmL{
                margin: 20px;
              }

              .iconUp{
                display: block;
                position: fixed;
                right: 20px;
                bottom: 20px;
              }  

              .previous{
                display: none;
              }

              .next{
                display: none;
              }

              .toTop{
                display: none;
              }

              .back{
                display: none;
              }

              .title{
                font-size: 40px;
              }

              .toTop{
                display: none;
              }

              .backing{
                display: block;
              }

              .vidSeries{
                margin-top: 50px;
                margin-bottom: 50px;
              }

              .base{
                text-align: center;
              }
              
              .previous{
                margin-bottom: 2%;
              }

            }
      
      
      
      
