* {
  font-family: 'Playfair Display', serif;
  box-sizing: border-box;
}

.wrapper .flexWrap {
  display: flex;
  flex-wrap: wrap;
}

.wrapper .movieInfo {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  background: whitesmoke;
}

.wrapper .info {
  flex: 1 0 4rem;
}

.wrapper .nominations {
  width: 50%;
  overflow-x: hidden;
}

.wrapper .nomContainer {
  position: fixed;
}

.wrapper .searchBtn {
  font-size: 20px;
}

.wrapper .smokeScreen {
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  opacity: .5;
  height: 200vh;
  width: 100%;
  z-index: 2;
  display: none;
}

.wrapper li {
  list-style: none;
}

.wrapper .hide {
  display: none;
}

.wrapper .show {
  display: block;
}

.wrapper .count {
  position: fixed;
  right: 5%;
  bottom: 5%;
}

.wrapper .poster {
  min-width: 150px;
  max-width: 150px;
  border-radius: 10px;
  box-shadow: 10px 10px 20px 2px rgba(0, 0, 0, 0.14);
  transition: transform .2s ease-in-out;
}

.wrapper .poster:hover {
  transform: scale(1.05);
}

.wrapper .searchUpdate {
  width: 65%;
  height: 30px;
  border-radius: 100px;
  border: 1px solid black;
  padding: 10px;
}

.wrapper button {
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

.wrapper .opacity {
  opacity: .5;
}

.wrapper .icon {
  font-size: 30px;
}

.wrapper .details {
  font-weight: 700;
}

.wrapper #submit {
  text-align: center;
  margin-bottom: 5%;
  margin-top: 5%;
  background: white;
  width: 100%;
}

.wrapper .remove {
  position: absolute;
  right: -100px;
}

.wrapper .nominate, .wrapper .remove {
  background: #dc0119;
  padding: 5px 15px 5px 15px;
  border-radius: 100px;
  color: white;
  margin-top: 10px;
}

.wrapper .hov {
  cursor: pointer;
  transition: 0.3s;
}

.wrapper .hov:hover {
  transform: translate(0, -5px);
}

.wrapper .banner {
  background: white;
  box-shadow: -8px 10px 37px -1px rgba(0, 0, 0, 0.49);
  height: 300px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 0;
  border-radius: 50px 50px 0px 0px;
  transition: 1s;
  z-index: 2;
}

.wrapper .innerTxt {
  text-align: center;
  margin-top: 100px;
}

.wrapper .count {
  font-size: 25px;
  z-index: 5;
}

.wrapper .noTitle {
  padding: 15%;
}

.wrapper .footer {
  text-align: center;
  z-index: 10;
}

.wrapper .nomLi {
  transition: 1s;
}

.wrapper .shift {
  transform: translate(2000px);
}

.wrapper .clearNom {
  background: #003ccc;
  color: white;
  padding: 10px 20px 10px 20px;
  border-radius: 100px;
  text-align: center;
  margin-top: 20px;
}

@media (max-width: 414px) {
  .poster {
    min-width: 100px;
    max-width: 100px;
  }
  .info {
    flex: 0 0 0rem;
    padding-left: 20px;
  }
  #submit > .searchBtn {
    font-size: 17px;
  }
  .wrapper .remove {
    position: relative;
    float: left;
    margin-left: -120px;
    margin-top: 30px;
  }
  li {
    font-size: 17px;
  }
  .NomUL {
    margin-top: 40px;
  }
}
