*{
    font-family: 'Playfair Display', serif;
    box-sizing: border-box;
    // margin: 0;
    // padding:0;
}

$blue: #003ccc;
$lightBlue: #03a8ed;
$red: #dc0119;
$black: #0e1920;
$shadow: 10px 10px 20px 2px rgba(0,0,0,0.14);

.wrapper{
    // margin: 5%;

.movieInfo{
    display: flex;
    // flex-wrap: wrap;
    overflow-x: scroll;
}

.smokeScreen{
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    opacity: .5;
    height: 100vh;
    width: 100%;
    z-index: 2;
    display: none;
}

li{
    list-style: none;
}

.hide{
    display: none;
}

.show{
    display: block;
}

.count{
    position: fixed;
    right: 5%;
    bottom: 5%;
}

.poster{
    min-width: 150px;
    max-width: 150px;
    border-radius: 10px;
    box-shadow:  $shadow;
}

.searchUpdate{
    width: 65%;
    height: 20px;
    border-radius: 100px;
    border: 1px solid black;
}

button{
    background: transparent;
    outline: none;
    border: none;
    cursor: pointer;
}

.opacity{
    opacity: .5;
}

.icon{
    font-size: 22px;
}

.details{
    font-weight: 700;
}

#submit{
    text-align: center;
    margin-bottom: 5%;
    margin-top: 5%;
}

.movieInfo{
    position: relative;
    min-height: 380px;
    max-height: 380px;
}

.nominations{
    position: relative;
    min-height: 380px;
    max-height: 380px;
    overflow-x: hidden;
}

.remove{
    // margin-left: 10px;
    position: absolute;
    right: 15%;
}

.nominate, .remove{
    background: $red;
    padding: 5px 15px 5px 15px;
    border-radius: 100px;
    color: white;
    margin-top: 10px;
}

.nominate{
    position: absolute;
    bottom: 20px;
}

.hov{
    cursor: pointer;
    transition: 0.3s;
}

.hov:hover {
    transform: translate(0, -5px);
  }

  .banner{
      background: white;
      box-shadow: -8px 10px 37px -1px rgba(0,0,0,0.49);
        height: 300px;
        width: 100%;
        position: fixed;
        bottom: 0;
        left: 0;
        padding: 0;
        border-radius: 50px 50px 0px 0px;
        transition: 1s;
        z-index:2;
  }

  .innerTxt{
      text-align: center;
      margin-top: 100px;
  }

  .count{
      font-size: 25px;
      z-index: 5;
  }

  .noTitle{
      margin-left: 16%;
  }

  .footer{
      text-align: center;
      z-index: 10;
  }

  .nomLi{
      transition: 1s;
    //   transform: translate(-1000px);
  }

  .shift{
    transform: translate(-1000px);
  }

  .clearNom{
      background: $blue;
      color: white;
      padding: 10px 20px 10px 20px;
      border-radius: 100px;
      text-align: center;
      margin-top: 20px;
  }

}